numpy~=2.0.0
torch
ema-pytorch~=0.7.3
einops~=0.8.0
opencv-python~=4.10.0
matplotlib~=3.9.2
imageio~=2.36.0
omegaconf~=2.3.0
scikit-image~=0.24.0
face-alignment~=1.4.0
decord~=0.6.0
torchvision~=0.20.0
diffusers~=0.30.0
pytorch-lightning~=2.4.0
xformers~=0.0.28
sageattention~=1.0.5
transformers~=4.46.1
open-clip-torch~=2.29.0
imageio[ffmpeg]